{
  "plugins": [
    "@babel/plugin-proposal-optional-chaining"
  ],
  "presets": ["@babel/preset-env"],
  "env": {
    "test": {
      "plugins": ["@babel/plugin-transform-runtime"]
    }
  },
  "sourceMaps": "inline",
  "retainLines": true
}