name: Publish

on: 
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

jobs:
  publish:
    timeout-minutes: 10
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Test
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - run: yarn
      - run: yarn test
      - run: yarn bundle
      - run: npm install -g npm-cli-login
      - run: npm-cli-login -u "${{ secrets.NPM_USER }}" -p "${{ secrets.NPM_PASSWORD }}" -e "${{ secrets.NPM_EMAIL }}"
      - run: cp -rf ./dist/* ./
      - run: npm publish

  notify:
    needs: publish
    runs-on: ubuntu-latest

    steps:
      - name: Notify
        uses: rtCamp/action-slack-notify@v2.0.0
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_USERNAME: Salo Creative
          SLACK_ICON: https://res.cloudinary.com/salo-cms-dev/image/upload/v1578149536/salo-admin/projects/synj7hxqobscnaun2yah.png
          SLACK_MESSAGE: ':tada: @salo/mongoose-athena successfully published!'
